<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yundao.common.mapper.role.RoleMapper">

    <resultMap id="RoleResult" type="com.yundao.common.model.base.RoleModel" extends="com.yundao.common.mapper.base.RoleModelMapper.BaseResultMap"> 
    </resultMap>
</mapper>
